%p#notice= notice

%p
  %b Student:
  = @student_course.student_id
%p
  %b Course:
  = @student_course.course_id

= link_to 'Edit', edit_student_course_path(@student_course)
\|
= link_to 'Back', student_courses_path
