%h3.page-header 
  iQube Skill Development Platform (SDP)
%p
  %strong What do I do when I get to trouble
%p
  = link_to "Tweet @IQubebase", "http://twitter.com/iqubebase", :class=>"btn btn-primary "
  = link_to "Find us on facebook", "http://facebook.com/iqubebase", :class=>"btn btn-primary "
  = link_to "Ask the Iqubebase Community", "http://iqubebase.com/iqubebase/iqubebase", :class=>"btn btn-primary "
  %br
  %br
  %br
  
  %strong if the above dont work
  %br
  = link_to "Contact Detan", "mailto: detan.oyedele@gmail.com", :class=>"btn btn-primary "
  = link_to "Contact Samuel", "mailto: samuel.i.okoroafor@gmail.com", :class=>"btn btn-primary "
