.well.row
  .span7
    %h1 
      SDP
      %small Skill Development Platform
    %p.lead
      iQubeSDP is a Skill Development Platform that employs a coaching based Training / Learning style to help and guide...
      %br
      = link_to "read more", :root, :class=>"btn btn-alert"
  .span3
    %h3 SDP Highlights
    %ul
      %li= link_to "Distributed Community", :root
      %li= link_to "24 Hour Virtual Office", :root
      %li= link_to "Top Class Mentors", :root
    = link_to "Register", new_user_registration_path, :class=>"btn btn-large btn-primary"
.row.well
  %h3 Featured Courses
  %ul.thumbnails
    - @courses.each do |course|
      %li.span3
        %a{:href=>course_path(course), :class=>:thumbnail}
          %img{:src=> course.image}
        %h3= course.title
        %p= course.summary
.row.well
  %ul.nav.nav-tabs
    %li.active= link_to "Profile", "#", :data=>{:toggle=>:tab}
    %li= link_to "Profile", "#", :data=>{:toggle=>:tab}
    %div.tab-content#myTabContent
      .tab-pane.active.in#home
