.well.row
  .span8
    %h1 
      SDP
      %small Skill Development Platform
    %p
      iQubeSDP is a Skill Development Platform that employs a coaching based Training / Learning style to help and guide...
      %br
      = link_to "read more", :root, :class=>"btn btn-alert"
  .span3
    - if user_signed_in?
      %h3 SDP Highlights
      %ul
        %li= link_to "Distributed Community", :root
        %li= link_to "24 Hour Virtual Office", :root
        %li= link_to "Top Class Mentors", :root
      = link_to "View Courses", studentview_path, :class=>"btn btn-large btn-primary"
    - else    
      = form_for @user, :html =>{:class => "well"}, :url => new_user_session_path do |f|
        = f.label :email 
        = f.email_field :email, :placehlder => "Please enter your email" 
      
        = f.label :password 
        = f.password_field :password, :placehlder => "Please enter your password" 
        .actions
          = f.check_box :remember_me  
          = f.label :remember_me     
      
        = f.submit "Log me in", :class => "btn"
        = link_to "register", new_user_registration_path, :class=>"btn btn-primary"
.row.navbar.navbar-inverse
  .navbar-inner.container
    %ul.nav
      %li= link_to "Android Development"
      %li= link_to "User Experience Design"
      %li= link_to "Mobile Development"
      %li= link_to "Nokia Qt"
      %li= link_to "Web Architecture"
      %li= link_to "Linux/Unix Foundation"
      %li= link_to "Graphs and Algorithms"

.row.well
  %h3.page-header 
    What makes SDP especially for you?
    %small What packages enhances knowledge transfer in the SDP platform
  .span4
    %h4 
      The 24 hour Virtual Office
      %small 99.98% uptime
    %p IQube ensures a working office relationship across timezones and continents. Its virtual office have been proven and tested to be an efficient method of transfering knowledge to Individuals
  .span3
    %h4 SDP development Server
    %p IQube ensures a working office relationship across timezones and continents. Its virtual office have been proven and tested to be an efficient method of transfering knowledge to Individuals
  .span4
    %h3 The Iqubebase Community
    %p IQube ensures a working office relationship across timezones and continents. Its virtual office have been proven and tested to be an efficient method of transfering knowledge to Individuals
