.well.row
  .span8
    %h1 
      SDP
      %small Skill Development Platform
    %p.lead
      iQubeSDP is a Skill Development Platform that employs a coaching based Training / Learning style to help and guide...
      %br
      = link_to "read more", :root, :class=>"btn btn-alert"
  .span3
    - if user_signed_in?
      %h3 SDP Highlights
      %ul
        %li= link_to "Distributed Community", :root
        %li= link_to "24 Hour Virtual Office", :root
        %li= link_to "Top Class Mentors", :root
      = link_to "View Courses", studentview_path, :class=>"btn btn-large btn-primary"
    - else    
      = form_for @user, :html =>{:class => "well"}, :url => new_user_session_path do |f| 
        = f.label :email 
        = f.email_field :email, :placehlder => "Please enter your email" 
      
        = f.label :password 
        = f.password_field :password, :placehlder => "Please enter your password" 
        .actions
          = f.check_box :remember_me  
          = f.label :remember_me     
      
        = f.submit "Log me in", :class => "btn"
        = link_to "register", new_user_registration_path, :class=>"btn btn-primary"
    
.row.well
  %h3 Featured Courses
  %ul.thumbnails
    - @courses.each do |course|
      %li.span3
        %a{:href=>course_path(course), :class=>:thumbnail}
          %img{:src=> course.image}
        %h3= course.title
        %p= course.summary
