%html
  %head
    %title sdp
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %meta{name: "viewport", content: "initial-scale=1, maximum-scale:1"}
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-fixed-top
        %section.navbar-inner
          .container
            = link_to "SDP Platform", :root, :class => :brand
            %ul.nav.pull-right
              - if user_signed_in?
                %li.navbar-text
                  signed in as 
                  = current_user.email  
                %li.divider
                %li
                  = link_to "sign out", destroy_user_session_path, :method=>:delete
              %li
                = link_to "about sdp", about_path
              %li
                = link_to "get help", help_path
              %li.divider
              %li.active
                = link_to "Home", :root
              
    .container
      = yield
