%html
  %head
    %title sdp
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %meta{name: "viewport", content: "initial-scale=1, maximum-scale:1"}
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-fixed-top
        %section.navbar-inner
          .container
            = link_to "SDP Platform", :root, :class => :brand
            %ul.nav.pull-right
              %li.active
                = link_to "Home", :root
    .container
      = yield
